// Large Screen
@media screen and (min-width: 1008px) {
  header {
    nav {
      justify-content: space-between;

      .nav-links {
        justify-content: space-between;
        width: 60vw;
      }
    }
  }

  #mobile-contact-button {
    display: none;
  }

  .mobile-header {
    display: none;
  }
}

// Medium to Moderately Large Screens
@media screen and (min-width: 641px) and (max-width: 1089px) {
  .projects-container {
    display: block;
  }
}

// Medium Screen
@media screen and (min-width: 641px) and (max-width: 1007px) {
  header {
    nav {
      justify-content: space-between;

      .nav-links {
        width: stretch;
      }
    }
  }

  .about-text {
    line-height: 160%;
  }

  #mobile-contact-button {
    display: none;
  }

  .projects-container {
    display: block;
  }

  .logotype-header-wrapper {
    display: none;
  }
}

// ?????
.contact-svg {
  min-width: 500px;
}

// Small Screen
@media screen and (max-width: 640px) {
  .container {
    padding: 0;
  }
  header {
    max-width: 100%;
    padding: 0;
    min-height: 7vh;
    height: fit-content;

    nav {
      width: 100%;
      background: $dark-blue;
      justify-content: space-between;

      .nav-links {
        display: none;
        transition: all 1000ms ease; // Doesn't work

        li a {
          font-size: 30px;
          font-weight: 600;
        }
      }

      #hamburger-button {
        display: flex;
        width: 44px;
        height: 44px;
        border: none;
        background: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .logotype {
        padding: 0 20px 0 0;
      }

      .mobile-header {
        padding: 0 20px 0 0;
      }
    }
  }

  main {
    // Offset the bottom of main to vertically center it
    // 7vh is the height of the header on mobile
    margin-bottom: 7vh;
    margin: 0 6.67vw;
  }

  #mobile-contact-button {
    width: 151px;
    height: 57px;
    min-width: 151px;
    min-height: 57px;
  }

  .social-icons {
    column-gap: 50px;

    a svg {
      transform: scale(0.75);
    }
  }

  .inactive {
    display: none;
  }

  footer {
    display: none;
  }

  // Home Page
  .home {
    row-gap: 3vh;
  }

  // About Page
  .about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    margin: 0 6.67vw;
    padding-bottom: 7vh;
    row-gap: 5vh;
  }

  // Projects Page
  .projects {
    padding: 5vh 0;
  }

  .cards-container {
    row-gap: 5vh;
  }

  .card {
  }

  // Contact Page
  .contact {
    height: 100%;
  }

  .email {
    padding-bottom: 10px;
  }
  .linkedin {
    padding: 10px 0;
  }
  .github {
    padding-top: 10px;
  }

  .contact-svg {
    max-width: 500px;
    min-width: 200px;
    align-self: flex-start;
  }
}
