// Large Screen
@media screen and (min-width: 1008px) {

}



// Medium Screen
@media screen and (min-width: 641px) and (max-width: 1007px) {

}

// Small Screen
@media screen and (max-width: 640px) {

    header {
        padding: 0;


        nav {
            background: $dark-blue;
            justify-content: space-between;

            .nav-links {
                display: none;
            }
            
            
            #hamburger-button {
                display: flex;
                width: 44px;
                height: 44px;
                border: none;
                background: none;
                justify-content: center;
                align-items: center;
            }

    
            .logotype {
                padding: 0 20px 0 0;
                font-size: 24px;
            }
        
        }
    
    }

    .social-icons {

        column-gap: 50px;
    
        a svg{
            transform: scale(0.75);
        }
    }




    footer {
        display: none;
    }

}