@import "typography";
@import "colors";

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  height: auto;
  background-color: $primary-color;
}

.container {
  display: grid;
  min-height: 100vh;
  height: fit-content;
  padding: 0 6.67vw;
}

header {
  padding: 50px 0;
  height: fit-content;
  max-width: 100%;

  nav {
    display: flex;
    align-items: center;

    // Only shows on mobile
    #hamburger-button {
      display: none;
    }

    .logotype {
      margin: 0 20px 0 0;
    }

    .nav-links {
      display: flex;
      justify-content: space-around;

      width: 60vw;

      li {
        display: flex;
        align-items: center;
      }
    }
  }
}

main {
  max-height: 100%;
  display: flex;

  // 175px is to vertically center main by offsetting it up.
  // Offsets the size of the header (75px) and its padding (100px)
  margin-bottom: 175px;
}

footer {
  position: relative;
  display: flex;
  height: 200px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: $off-white;
  padding: 0 100px 0;
  column-gap: 10px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer-right {
  display: flex;
  column-gap: 63px;
}

.footer-sitemap,
.footer-socials {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.icon {
  height: 100%;
  width: 48px;
}

.icon-36px {
  width: 36px;
  height: 100%;
}

/* Home Page */
.index-container {
  display: grid;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}

.home {
  flex-direction: column;
  row-gap: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
  column-gap: 90px;
}

.icon-link svg {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.icon-link svg:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.55));
}

/* Project Page */
/* Cards */
.cards-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 9vw;
  row-gap: 9vw;
}

.card {
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.55));
}

.card-image {
  width: 400px;
  display: block;
  filter: grayscale(80%);
}

.card-text {
  background-color: #fff;
  padding: 16px 24px;
  max-width: 400px;

  p {
    font-size: 16px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
}

.card-type {
  font-size: 18px;
}

.card-buttons {
  display: flex;

  span {
    font-size: 18px;
  }
}

.cta {
  background-color: $secondary-color;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 75px;
}

#mobile-contact-button {
  align-self: center;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 23px 30px;
  column-gap: 10px;
}

.code-button {
  border-radius: 0 0 0 8px;
}
.demo-button {
  border-radius: 0 0 8px 0;
}

/* Contact Page */
.contact {
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 5vh;
  justify-content: center;
  height: fit-content;
}

.contact-wrapper {
  height: fit-content;
}

.contact-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-text {
  display: flex;
  flex-direction: column;
  justify-self: start;
  justify-content: space-between;
}

.contact-section a {
  max-width: 100%;
  display: grid;
  justify-items: end;
}

.icon {
  height: 100%;
  width: 64px;
}

.contact-svg {
  height: fit-content;
  width: fit-content;
  min-width: 700px;
}

@import "responsive";
